Collects data for file_properties_df.

file_properties_df holds metadata about data in our dataset,
details of metadata can be seen at src/nna/tests/mock_data.py::mock_file_properties_df

In [1]:
import os

# change working directory
os.chdir('/home/enis/projects/nna/notebooks/Labeling/')

from savemetadata import *

In [2]:
from unittest.mock import patch

mock_args = [
    '--search_path',
    '/tank/data/nna/real/anwr/31/2021/',
    '--search_parent_path',
    '/tank/data/nna/real/',
    '--previous_metadata_path',
    './prev_recordings_metadata.csv',
    '--ffprobe_path',
    '/home/enis/sbin/ffprobe',
    '--log_folder',
    './logs/',
]

with patch('sys.argv', ['prog_name'] + mock_args):
    args = parse_args()
main_logic(args)

Searching for files in /tank/data/nna/real/anwr/31/2021/
Found 563 files
File extensions counts:
Counter({'.flac': 563})


563 new files, previously:  870 and total is 1433
Processing new files:

Processing: 100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 563/563 [00:00<00:00, 3285.68it/s]

updated metadata is saved to recordings_metadata.csv

In [3]:
!cp recordings_metadata.csv prev_recordings_metadata.csv

In [4]:
!head recordings_metadata.csv

region,location,recorder_id,duration_sec,start_date_time,end_date_time,file_path
anwr,31,S4A10297,4438.0,2019-06-04T13:46:02.000000,2019-06-04T15:00:00.000000,
anwr,31,S4A10297,4560.0,2019-05-06T18:00:00.000000,2019-05-06T19:16:00.000000,
anwr,31,S4A10297,4560.0,2019-05-10T01:30:00.000000,2019-05-10T02:46:00.000000,
anwr,31,S4A10297,4560.0,2019-07-23T01:00:00.000000,2019-07-23T02:16:00.000000,
anwr,31,S4A10297,4560.0,2019-07-25T18:30:00.000000,2019-07-25T19:46:00.000000,
anwr,31,S4A10297,4438.0,2019-07-23T06:46:02.000000,2019-07-23T08:00:00.000000,
anwr,31,S4A10297,4438.0,2019-06-02T00:46:02.000000,2019-06-02T02:00:00.000000,
anwr,31,S4A10297,4560.0,2019-06-06T07:00:00.000000,2019-06-06T08:16:00.000000,
anwr,31,S4A10297,4438.0,2019-06-01T10:46:02.000000,2019-06-01T12:00:00.000000,

In [ ]:
#V4: Counter({'.flac': 112053, '.aac': 9101, '.mp3': 388, '.flac~': 1})
#V5: Counter({'.flac': 151527, '.aac': 9101, '.mp3': 388, '.flac~': 1})
#V6: Counter({'.flac': 165976, '.aac': 9101, '.mp3': 388, '.flac~': 1, '.txt': 1})
#V7: Counter({'.flac': 204692, '.aac': 9101, '.wav': 2340, '.mp3': 388, '.txt': 3, '.flac~': 1, '.filepart': 1})

#V8: Counter({'.flac': 227227, '.aac': 9101, '.mp3': 388, '.flac~': 1, '.filepart': 1, '.txt': 1})

#V10: Counter({'.flac': 259798})

In [ ]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
# merge with previous file properties
merged_file_properties_df = pd.concat(
    [file_properties_df, current_file_properties_df])

In [ ]:
merged_file_properties_df.to_pickle(data_folder + pkl_file_name + ".pkl")

In [ ]:
merged_file_properties_df.to_pickle(data_folder + pkl_file_name + "2.pkl")

## check dataset stats

In [ ]:
pd.__version__

'1.2.0'

In [ ]:
current_file_properties_df = pd.read_pickle(data_folder + pkl_file_name +
                                            ".pkl")

In [ ]:
print('total days of recording',
      ((sum(current_file_properties_df['durationSec']) / 3600) / 24))

total days of recording 3536.5799098982093

In [ ]:
import numpy as np

files_df_2019 = current_file_properties_df[current_file_properties_df['year'] ==
                                           '2019']
site_region = list({
    (val[1], val[0]) for val in (files_df_2019[['locationId', 'region']].values)
})
site_region.sort()

In [ ]:
for region, site_id in site_region:
    site_files_df_2019 = files_df_2019[files_df_2019['site_id'] == site_id]
    region_files_df_2019 = site_files_df_2019[site_files_df_2019['region'] ==
                                              region]
    t = region_files_df_2019['timestamp'].sort_values()[0]
    print(site_id, region, ':', t.month, t.day, '(M/D)')
    # print(region_files_df_2019['timestamp'].sort_values()[0])

In [ ]:
file_properties_df[['site_id', 'locationId', 'timestamp', 'durationSec']]

,site_id,locationId,timestamp,durationSec
data/nna/recover_files/2022/region/11/2022/S4A10276_20220815_130002.wav,2022,2022,2022-08-15 13:00:02,3597.995828
data/nna/recover_files/2022/region/11/2022/S4A10276_20220714_140002.wav,2022,2022,2022-07-14 14:00:02,3597.995828
data/nna/recover_files/2022/region/11/2022/S4A10276_20220731_090002.wav,2022,2022,2022-07-31 09:00:02,3597.995828
data/nna/recover_files/2022/region/11/2022/S4A10276_20220815_120000.wav,2022,2022,2022-08-15 12:00:00,3599.998549
data/nna/recover_files/2022/region/11/2022/S4A10276_20220717_030002.wav,2022,2022,2022-07-17 03:00:02,3597.995828
...,...,...,...,...
data/nna/recover_files/2022/region/35/2022/S4A10272_20220830_200002.wav,2022,2022,2022-08-30 20:00:02,3597.995828
data/nna/recover_files/2022/region/35/2022/S4A10272_20220829_110004.wav,2022,2022,2022-08-29 11:00:04,3595.998912
data/nna/recover_files/2022/region/35/2022/S4A10272_20220825_090002.wav,2022,2022,2022-08-25 09:00:02,3597.995828
data/nna/recover_files/2022/region/35/2022/S4A10272_20220831_020002.wav,2022,2022,2022-08-31 02:00:02,3597.995828
data/nna/recover_files/2022/region/35/2022/S4A10272_20220827_090002.wav,2022,2022,2022-08-27 09:00:02,3597.995828

In [ ]:
import pandas as pd

# Convert the duration from seconds to hours
file_properties_df['durationHours'] = file_properties_df['durationSec'] / 3600

# Group by site_id and locationId, then sum the durations
result = file_properties_df.groupby([
    'site_id',
])['durationHours'].sum().reset_index()
result.sort_values(by='site_id', ascending=True, inplace=True)
result.reset_index(drop=True, inplace=True)

# print(result)

result.to_csv('/tank/data/nna/recover_files/2022/duration.csv', index=False)

In [ ]:
df = file_properties_df.copy()
# Convert timestamp column to datetime
df['timestamp'] = pd.to_datetime(df['timestamp'])

# Extract year and month
df['year'] = df['timestamp'].dt.year
df['month'] = df['timestamp'].dt.month

# Group by site_id, locationId, year and month, then sum the durations
result = df.groupby(['site_id', 'month'])['durationHours'].sum().reset_index()

result.sort_values(by='site_id', ascending=True, inplace=True)
result.reset_index(drop=True, inplace=True)

# print(result)

result.to_csv('/tank/data/nna/recover_files/2022/durations_bymonth.csv',
              index=False)
print(result)

   site_id  month  durationHours
0       11      7     323.808829
1       11      8     360.786849
2       11      9      34.830630
3       12      7     323.809384
4       12      8     336.804094
..     ...    ...            ...
62      34      8     367.783506
63      34      9       2.999442
64      35      8     305.820790
65      35      7     311.816896
66      35      9       4.997773

[67 rows x 3 columns]

In [ ]:
result['year'].unique()

array([2022])